<div class="container">
  <h1 class ="mb-3">
    <u style="color: #94aa2a"><%= @cocktail.name%></u>
  </h1>

    <% if @cocktail.photo.present? %>
      <%= cl_image_tag @cocktail.photo, width: 250, height: 300, crop: :fill %>
    <% end %>
  <div>
    <% if @cocktail.doses.empty? %>
      <p class="text-gray btn btn-warning mt-3">
        No ingredients yet. Add yours!
        <div class="col-sm-12 col-md-6">
          <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
        </div>
      </p>
    <% else %>
      <h3> Ingredients: </h2>
      <ul class="list-group">
        <% @cocktail.doses.each do |dose| %>
          <li class="list-group-item">
            <strong> <%= dose.ingredient.name %> </strong>
            <p><%= dose.description %></p>
            <%= link_to dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash destroy_dose"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="container mt-3">
    <%= link_to "Back to cocktails", cocktails_path, class: "btn btn-warning" %>
  </div>
</div>
